@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-color: white ;
  --navbar-scroll: transparent; 
 --navbar-scroll-text: white;
 --navbar-scroll-shadow: none;
}

p {
  color: #524c4c;
  font-weight: 300;
  font-size:18px;
  font-family: 'Nunito', sans-serif;
}

.heading{
  font-family: 'Poppins', sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; } 
}

/* About us section */


.about-card{
  background-color: #A1CEC7;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card-img-top{
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.card-body > h4{
  color: rgb(17, 3, 92);
  text-align: center !important;
}

/* Learn about plasma section */

.about-plasma{
  width:100%;
}
.about-plasma-img{
  width: 100%;
  height: 100%;
}

.about-plasma p{
    text-align:justify;
    color:black;
    font-weight: 500;
}

.card-body > p{
  color:black;
  font-weight: 500;
} 
.cards{
  margin-left: auto;
  margin-right:auto;
}

/* FAQ section */


.faq-body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 40px;
}

.accordion{
  display: flex;
  max-width: 920px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #A1CEC7;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: auto;
  width: 400px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #150d2e;
  font-family: 'Poppins', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 430px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: rgb(17, 3, 92);
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: rgb(17, 3, 92);
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: black;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: black;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: rgb(17, 3, 92);
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 821px) {
  .faq-body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: auto;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
    height: 700px;
  }
  .accordion .accordion-text .faq-text{
    margin-top: 25px;
    height: 730px;
    overflow-y: auto;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height:auto;
    width: 300px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
    overflow-y: auto;
  }
}

@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
  .accordion .accordion-text .faq-text{
    overflow-y: auto;
  }

}

/* footer section */


footer{
  background-color: #A1CEC7;
}

.footer-title{
  color: rgb(17, 3, 92);
  font-family: 'Poppins',sans-serif;
}
.side-line{
  width: 80px;
  position: relative;
  border-top: 5px solid rgb(17, 3, 92);
}

/* Donor form */
.donor-form, .request-form{
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    background-color: #e9e9e9;
	border-radius: 0.7rem;
  padding:1.2rem;
}